<div class="container col-xl-5 col-lg-6 col-md-8 col-12 mb-5">
  <div class="row mt-3 mb-4 d-flex align-items-end">
    <div class="col-auto mr-auto">
      <a class="new-btn btn btn-warning" href="./records/new">新增支出</a>
    </div>
    <div class="col-lg-5 col-sm-6 col-7 ml-auto filters-wrapper">
      {{#if category}}
      <a class="back-btn" href="/">返回查看全部</a>
      {{/if}}
      <form id="filters" action="/filters">
        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon"
          name="category" id="category" onchange="submit();">
          <option value="{{ category }}" disabled selected>使用分類篩選</option>
          {{#each categories}}
          <option value="{{ this.name }}" {{#if (match ../category this.name)}}selected{{/if}}>{{ this.name }}
          </option>
          {{/each}}
        </select>
      </form>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto m-auto">
          <p class="mb-0 p-4">在 <strong>{{ category }}</strong> 這個分類底下，沒有找到相關支出資料。</p>
        </div>
      </div>
    </li>
  </ul>
</div>