<form id="filter" action="/filter">
  <div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="category"
      id="category" onchange="submit();">
      <option value="{{ category }}" disabled selected>使用分類篩選</option>
      {{#each categories}}
      <option value="{{ this.name }}" {{#if (match ../category this.name)}}selected{{/if}}>{{ this.name }}</option>
      {{/each}}
    </select>
  </div>
</form>

<p>在 <strong>{{ category }}</strong> 這個分類底下，沒有找到相關支出資料。</p>

<a href="./records/new">新增支出</a>