<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name">
  <select name="category" id="category">
    <option value="" disabled selected hidden>選擇分類</option>
    {{#each categories}}
    <option value="{{ this.name }}">{{ this.name }}</option>
    {{/each}}
  </select>
  <input type="text" placeholder="date" name="date">
  <input type="text" placeholder="amount" name="amount">
  <button type="submit">送出</button>
</form>