<div class="container col-xl-5 col-lg-6 col-md-8 col-12 mb-5">
  <h1 class="text-center mb-5">請輸入你的支出</h1>
  <form action="/records" method="POST">
    <ul class="list-group mb-3">
      <li class="list-group-item shadow-sm d-flex justify-content-around align-items-center">
        <label for="name"><h5 class="m-2">名稱</h5></label>
        <input class="col-6 form-control" id="name" type="text" placeholder="你又把$$$變成什麼形狀了XD" name="name" required>
      </li>
      <li class="list-group-item shadow-sm d-flex justify-content-around align-items-center">
        <label for="date"><h5 class="m-2">日期</h5></label>
        <input class="col-6 form-control" id="date" type="date" placeholder="日期" name="date" required>
      </li>
      <li class="list-group-item shadow-sm d-flex justify-content-around align-items-center">
        <label for="category"><h5 class="m-2">分類</h5></label>
        <select class="col-6 p-2 form-control" id="category" name="category" required>
          <option value="" disabled selected>選擇支出分類</option>
          {{#each categories}}
          <option value="{{ this.name }}">{{ this.name }}</option>
          {{/each}}
        </select>
      </li>
      <li class="list-group-item shadow-sm d-flex justify-content-around align-items-center">
        <label for="amount"><h5 class="m-2">金額</h5></label>
        <input class="col-6 form-control" id="amount" type="number" placeholder="金額" name="amount" required>
      </li>
    </ul>
    <div class="col-auto p-2 d-flex justify-content-between align-items-center">
      <a class="back-btn mr-3" href="/">取消新增</a>
      <button class="col-6 btn btn-warning" type="submit">送出</button>
    </div>
  </form>
</div>